.spacer {
  height: 2rem;
  width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	flex: 1 0 auto;
}

nav{
    height: 85px;
}

nav a {
    line-height: 85px;
}

nav.smaller {
    height: 50px;
    border-bottom: 1px solid #f5f5f5;
}

nav.smaller a {
    line-height: 50px;
}

nav {
    -webkit-transition: 0.34s;
    -moz-transition: 0.34s;
    -ms-transition: 0.34s;
    -o-transition: 0.34s;
    transition: 0.34s;
}

ul {
    list-style-type: none;
}

#feature-list > li > p {
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
    text-align: left;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
}

#feature-list > li {
    list-style: disc;
    font-size: 1.5rem;
    line-height: 3rem;
}

#feature-list > li:nth-child(1) {
    color: #ee6e73;
}

li {
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
    text-align: left;
}